worker_processes auto;
events {
    worker_connections 1024;
}

http {
    server {
        listen 9090;
        server_name localhost;

        location / {
            root {{ application_path }};
            index index.html index.htm;
        }
    }
}
